extends includes/layout
block title
    title 首页
block content
    .hmainbox
        .box1
        .box2
        .box3
        img(src='../images/pagebtn.png' alt='1')
        img(src='../images/playRod.png' alt='2')